$white: #fff;
$black: #000;
$secondary: #7e1cfe;
$box_shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
$light_text: #393939;
$btn_text_light: #754de880;
$dark_text: #131313;
$btn_border_light: #754de8;
$footer_bg: #d0d0d0;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
