/* ---------------------------MIXINS--------------------------- */

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------CONTAINER VARIABLE---------------------- */
.container_main {
  padding: 1rem;

  @media screen and (min-width: 400px) {
    padding: 2rem;
  }
}

/* ----------------------TEXT VARIABLE---------------------- */

.secondary_text {
  color: $secondary;
}

.medium_text {
  margin-block: 0 1rem;
}

.light_text {
  color: $light_text;
}

/* SHORT LINE */
.short_line {
  width: 5rem;
  height: 0.1rem;
  background: linear-gradient(90deg, #754de8 0%, #754de8 100%);
}
