@import "./colors";
@import "./variables";
@import "./header";
@import "./footer";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
}

/* ---------------------------HERO SECTION--------------------------- */

.hero {
  &_sec {
    @include flex_center();
  }

  &_inner {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 2rem;
    @media screen and (min-width: 768px) {
      @include flex_center();
    }
  }
}

/* ---------------------------EXPLAINER SECTION--------------------------- */

.explainer {
  &_sec {
    @include flex_center();
    text-align: center;
  }

  &_inner {
    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-block: 4rem 7rem;
    }
  }

  &_video {
    width: 100%;
    max-width: 46rem;
    height: 16rem;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      height: 25rem;
    }

    .yt_container {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      @include flex_center();

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_flexbox {
    margin-top: 7rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;

    &_inner {
      @include flex_center();
      flex-wrap: wrap;
      gap: 2.5rem;
    }
  }

  &_box {
    border-radius: 1rem;
    background: $white;
    box-shadow: $box_shadow;
    width: 22rem;
    height: 24rem;
    flex-shrink: 0;
    margin: 1rem 0;

    &_header {
      display: grid;
      place-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}

/* ---------------------------TRANSFORM SECTION--------------------------- */

.transform {
  &_sec {
    text-align: center;
    @include flex_center();
    margin: 3rem 0;
  }

  &_inner {
    h3 {
      margin-block: 0 1rem;
    }
  }
}

/* ---------------------------ACTIVATE SECTION--------------------------- */
.activate {
  &_sec {
    @include flex_center();
    text-align: center;
  }

  &_flexbox {
    &_inner {
      display: grid;
      grid-template-columns: auto;
      place-items: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      max-width: 70rem;
      margin: 3.5rem 0;

      @media screen and (min-width: 576px) {
        grid-template-columns: auto auto;
      }
      @media screen and (min-width: 768px) {
        grid-template-columns: auto auto auto;
      }
    }
  }

  &_box {
    width: 15rem;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px 0px;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    &:hover {
      border: 1px solid $secondary;
      box-shadow: none;
    }

    &_inner {
      img {
        width: 15rem;
        height: 8rem;
      }
    }
  }
}

/* ---------------------------BUTTONS SECTION--------------------------- */
.buttons {
  &_sec {
    @include flex_center();
  }

  &_inner {
    text-align: center;

    button {
      font-size: 1.2rem;
      border-radius: 1rem;
    }
  }

  &_business_email {
    @include flex_center();
    gap: 1rem;
    button {
      width: 18rem;
      height: 3rem;
      border: 1px solid $btn_border_light;
      color: $btn_text_light;
      background: $white;
      text-transform: capitalize;
    }
  }

  &_notify {
    button {
      background: $secondary;
      color: $white;
      width: 15rem;
      height: 3rem;
      margin: 2rem 0;

      span {
        text-transform: capitalize;
        text-decoration: underline;
      }
    }
  }

  &_sign_up {
    button {
      width: 25rem;
      height: 3rem;
      padding: 0.5rem 1rem;
      border: 1px solid $btn_border_light;
      color: $btn_text_light;
      background: $white;
    }
  }
}
