@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./colors";
@import "./variables";
@import "./header";
@import "./footer";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

/* ---------------------------HERO SECTION--------------------------- */

.hero {
  &_sec {
    @include flex_center();
  }

  &_inner {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 2rem;
    @media screen and (min-width: 768px) {
      @include flex_center();
      gap: 2.3rem;
    }

    @media screen and (min-width: 992px) {
      gap: 6rem;
    }
    @media screen and (min-width: 1200px) {
      gap: 10rem;
    }
  }

  &_left {
    &_bottom_text {
      color: $black;
      text-shadow: $text_shadow;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      width: 100%;
      max-width: 30rem;
      margin-top: 0.5rem;

      @media screen and (min-width: 768px) {
        margin-top: 1.5rem;
      }

      @media screen and (min-width: 992px) {
        margin-top: 3rem;
      }
    }
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    @media screen and (min-width: 576px) {
      gap: 1rem;
    }

    h2 {
      color: $dark_text;
      text-shadow: $text_shadow;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 800;
      line-height: normal;
      width: 100%;
      max-width: 15rem;

      @media screen and (min-width: 576px) {
        max-width: 20rem;
        font-size: 2rem;
      }

      @media screen and (min-width: 992px) {
        font-size: 2.5rem;
        line-height: 3.5rem;
        max-width: 25rem;
      }
      @media screen and (min-width: 1200px) {
        font-size: 3rem;
        line-height: 4rem;
        max-width: 30rem;
      }
    }

    p {
      color: $secondary;
      font-size: 2rem;
      font-weight: 900;
      text-transform: capitalize;
      line-height: normal;

      @media screen and (min-width: 576px) {
        font-size: 2.8rem;
      }
    }
  }

  &_right {
    &_inner {
      img {
        width: 100%;
      }
    }
  }
}

/* ---------------------------EXPLAINER SECTION--------------------------- */

.explainer {
  &_sec {
    @include flex_center();
    text-align: center;
  }

  &_inner {
    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-block: 4rem 7rem;
    }
  }

  &_video {
    width: 100%;
    max-width: 46rem;
    height: 16rem;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      height: 25rem;
    }

    .yt_container {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      @include flex_center();

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_flexbox {
    margin-top: 7rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;

    &_inner {
      @include flex_center();
      flex-wrap: wrap;
      gap: 2.5rem;
    }
  }

  &_box {
    border-radius: 1rem;
    background: $white;
    box-shadow: $box_shadow;
    width: 18rem;
    height: 20rem;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    @include flex_center();
    align-items: flex-start;

    &:hover {
      border: 1px solid $secondary;
    }

    &_inner {
      padding: 2rem 1rem;
      height: 100%;
    }

    &_header {
      width: 100%;

      img {
        width: fit-content;
        height: 3rem;
      }
    }

    &_header {
      display: grid;
      place-items: center;
      justify-content: center;
      gap: 0.5rem;
      min-height: 8rem;
      margin-bottom: 1rem;
    }

    &_quotes {
      color: $black;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.3rem;
    }
  }
}

/* ---------------------------TRANSFORM SECTION--------------------------- */

.transform {
  &_sec {
    text-align: center;
    @include flex_center();
    margin: 3rem 0;
  }

  &_inner {
    h3 {
      margin-block: 0 1rem;
    }
  }
}

/* ---------------------------ACTIVATE SECTION--------------------------- */
.activate {
  &_sec {
    @include flex_center();
    text-align: center;
  }

  &_flexbox {
    &_inner {
      display: grid;
      grid-template-columns: auto;
      place-items: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      max-width: 70rem;
      margin: 3.5rem 0;

      @media screen and (min-width: 576px) {
        grid-template-columns: auto auto;
      }
      @media screen and (min-width: 768px) {
        grid-template-columns: auto auto auto;
      }
    }
  }

  &_box {
    width: 15rem;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px 0px;
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    &:hover {
      border: 1px solid $secondary;
      box-shadow: none;
    }

    &_inner {
      img {
        width: 15rem;
        height: 8rem;
      }
    }
  }
}

/* ---------------------------BUTTONS SECTION--------------------------- */
.buttons {
  &_sec {
    @include flex_center();
  }

  &_inner {
    text-align: center;

    button {
      font-size: 1.2rem;
      border-radius: 1rem;
    }
  }

  &_business_email {
    display: grid;
    place-items: center;
    gap: 2rem;
    @media screen and (min-width: 576px) {
      gap: 1rem;
      @include flex_center();
    }
    button {
      width: 16rem;
      height: 3rem;
      border: 1px solid $btn_border_light;
      color: $btn_text_light;
      background: $white;
      text-transform: capitalize;

      @media screen and (min-width: 768px) {
        width: 18rem;
      }
    }
  }

  &_notify {
    button {
      background: $secondary;
      color: $white;
      width: 13rem;
      height: 3rem;
      margin: 2rem 0;

      @media screen and (min-width: 768px) {
        width: 15rem;
      }

      span {
        text-transform: capitalize;
        text-decoration: underline;
      }
    }
  }

  &_sign_up {
    button {
      width: 18.5rem;
      height: 3rem;
      border: 1px solid $btn_border_light;
      color: $btn_text_light;
      background: $white;
      @media screen and (min-width: 400px) {
        padding: 0.5rem 1rem;
        width: 22rem;
      }
      @media screen and (min-width: 768px) {
        width: 25rem;
      }
    }
  }
}
